# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Logs and temporary files
*.log
*.tmp

# Data files
*.pkl

# Picture files
*.jpg
*.jpeg
*.png

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and dependency files
.env
.venv/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db
